@media (min-width: 417px) and (max-width: 767px) {

    .section {
        flex-direction: column;
        align-items: space-between;
        gap: 30px;
        height: 700px;
    }

    .cont-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        height: max-content;
    }

    .logo {
        position: relative;
        left: 10px;
        margin: 0;
    }

    .info {
        padding: 0 10px;
        width: 417px;
        font-size: 24px;
        text-align: center;
    }
}
